<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .form-container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .message-success {
            margin: 50px auto;
            max-width: 400px;
            background-color: rgb(91, 253, 199);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .success-message {
            color: green;
            font-size: 1rem;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin: 10px 0 5px;
            font-weight: bold;
        }
        button {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
        }
        button {
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .error {
            color: red;
            margin-top: 10px;
        }
        .success {
            color: green;
            margin-top: 10px;
        }
        /* .error-container {
            background-color: rgb(243, 158, 158);
        } */
        .error-text {
            color: rgb(245, 29, 29);
        }
    </style>
</head>
<body>
    <div class="message-success">
        <span class="success-message" id="message-200"></span>
    </div>
    <div class="form-container">
        <h1>Reset Your Password</h1>
        <div class="error-container">
            <span class="error-text" id="error-container"></span>
        </div>
        <form id="resetPassword">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" placeholder="Enter new password">
            
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password">
            
            <input type="hidden" id="user" name="authorization" value="<%= user %>">
            
            <button type="submit" id="resetPasswordForm">
                Reset Password
            </button>
        </form>
    </div>
    <script>
         const url = new URL(window.location.href);
        url.searchParams.delete('token');
        history.pushState({}, document.title, url.href);
        const submitForm = document.getElementById('resetPasswordForm');

        submitForm.addEventListener("click", async (event) => {
            event.preventDefault();
            let errorContainer = document.getElementById('error-container')
            let password = document.getElementById('password');
            let confirmPassword = document.getElementById('confirmPassword');
            let user = document.getElementById('user');
            let successMessage = document.getElementById("message-200");
            if(!setErrors(password, 'Password is required', errorContainer)){
                return;
            }
            if(!setErrors(confirmPassword, 'Confirme Password is required', errorContainer)){
                return;
            }
            if(!setErrors(user, 'User is required', errorContainer)){
                return;
            }
            // if(!passwordMatch(password, confirmPassword, errorContainer)){
            //     return;
            // }
            const data = {
                password: password.value,
                confirmPassword: password.value,
                user: user.value
            }
            console.log(data);
            try{
                const response = await fetch("/reset/password", {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                const result = await response.json();
                if(result.status === 401){
                    errorContainer.innerText
                    errorContainer.innerText = result.message;
                }
                if(result.status === 200){
                    successMessage.innerText = '';
                    successMessage.innerText = result.message
                }
                console.log(response);
            }catch(error){
                console.log("Hello World");
                
                if(error.status === 401){
                    errorContainer.innerText = error.message
                }
                console.log(error);
            }
        })
        function setErrors(input, error, errorContainer){
            if(input.value === ''){
                errorContainer.innerText = '';
                errorContainer.innerText = error;
                return false;
            }
            return true
        }

        function passwordMatch(password, confirmePasswor, errorContainer){
            if(password !== confirmePasswor){
                errorContainer.innerText = '';
                errorContainer.innerText = "Password doesn't match";
                return false;
            }
            return true
        }
    </script>
</body>
</html>
